{% extends "base.html"  %}
{%  load static %}


  {% block page_title %}
    The "{{ month|title }}" monthly challenge!
  {% endblock %}



{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
  <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}






  {% block content %}
    {% include "challenges/includes/header.html" %}

    <h1>The month's challenge!</h1>
    <h2>Here is the month that you have chosen: "{{ month|title }}"</h2>
    {% if text%}
      <h2>{{ text }}</h2>
    {% else %}
      <h2>"There is no challenge defined for this month."</h2>
    {% endif %}

  {% endblock %}

